/* cssr (reset) para comenzar a crear el CSS */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}




/* VARIABLES Y FUENTES */

@font-face {
    font-family:"fuente1";
    src: url("../fonts/Oswald/static/Oswald-Bold.ttf");
    /* ../ para ir atras en la carpeta */
}

@font-face {
    font-family:"fuente2";
    src: url(../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
} 




:root {
    /* #hexadecimal RGB RGBa con transparencia */
    --color0:white;
    --color1:black;
    --color2:grey;
    --color3:#7e0303;
    --fuente1:"fuente1";

}

/* ESTILOS GENERICOS */
h1{
    font-size: var(--fuente1);
    font-size: 1.4rem;
    color: var(--color1);
}

h2 {
    font-size: 1.8rem;
    color: var(--color2);
    font-weight: 100;
}

h3 {
    font-size: 2rem;
    color: var(--color1) ;
    font-weight: 100;
}

h4 {
    font-size: 1.2rem;
    font-family: var(--fuente1);
}

section, article{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
 }

 .anchoEstrecho {
    max-width: 1200px;
    width: 95%;
 }







/* ESTILOS WEB */

/* Estilos barra de menu */

nav, header, main, footer{
    width: 100%;
    max-width: 2560px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

nav {
    position: fixed;
    z-index: 100;
    background-color: var(--color0);
}

nav .sup {
    width: 100%;
    height: 5vh;/* vh viewport height vw viewport width */
    max-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative; /* para que los hijos absolute no salten fuera de su padre */
    background-color: var(--color0);
}

nav .sup img { /* img no es una clase, no punto */
    height: 70px;
    position: absolute;
    left:1rem;
    top:0.5rem;
    background-color: var(--color0);
}

nav .inf {
    width: 100%;
    height: 5vh;/* vh viewport height vw viewport width */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 40px;
}

nav .inf ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    list-style: none /* quitar puntos de la lista */;
}

nav .inf a:visited {
    /* :visited - seudoclase para pestañas ya visitadas */
    color:black
    
}

nav .inf a:hover { 
    /* :hover - seudoclase cuando pones el raton encima */ 
    color: rgb(91, 165, 42);
    font-weight: bold;
}



/* Estilos de Header */

header {
    height: 90vh;
    background-image: url(../img/header_2560.jpg);
    background-size: cover; 
    /* el fondo cubre todo*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    transform: translateY(80px);
    /*La imagen se queda fija al hacer scroll*/

}

header .contenedor {
    margin-top: 5vh;
    margin-left: 2rem;

    width: 500px;
    height: 70vh;

    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: flex-start;

    font-family: var(--fuente1);
    color: var(--color0);
    user-select: none;
}

header .contenedor :nth-child(1){
    font-size: 5vw;
    line-height: 4.5vw;
}

header .contenedor :nth-child(2){
    font-size: 3.3vw;
    line-height: 3vw;
}

header .contenedor :nth-child(3){
    font-size: 8vw;
    line-height: 7.5vw;
}

header .contenedor :nth-child(4){
    font-size: 2.6vw;
    line-height: 2.3vw;
}

header .contenedor :nth-child(5){
    font-size: 5.2vw;
    line-height: 5vw;
}

header .contenedor :nth-child(6){
    font-size: 4vw;
    line-height: 3.9vw;
}
header .contenedor :nth-child(7){
    font-size: 10.8vw;
    line-height: 9vw;
}
header .contenedor :nth-child(8){
    font-size: 2vw;
    line-height: 5vw;
}


/* MAIN */
/* SECCION PRESENTACION */

#sectPresentacion{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 4rem;

}

#sectPresentacion article{
    max-width: 1200px;
    width: 95%;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.boton  { /* estilo boton */
    background-color: var(--color0);

    padding: .5rem 2rem; 
    /* un valor - afecta a todos lados / dos valores alto y ancho .5=0.5*/
    border-radius: 1rem;
    border: .5px solid var(--color1);
    /* tiene tres valores */
    
    cursor: pointer;
}

.boton:hover { /* camnbio al poner encima */
    background-color: black;
    border-color: var(--color0);
    color:var(--color0);
    transition: 0.1s; /* tiempo de transcion que afecta */
 }

 .boton:active { /* cambios al clickar */
    transform: scale(0.9);
    transition: 0.5s; /* tiempo de transcion que afecta */
 }

 #contenedorServicios {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;/* para respete el ancho de cada hijo */
 }

 #contenedorServicios .servicio {
    width: 100%;
    max-width: 550px;
    min-width: 320px;
    height: 800px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 1rem;

    background-color: brown;
 }

 #contenedorServicios .servicio .contenedor_foto {
    width: 100%;
    height: 80%;
    overflow: hidden;/* PARA QUE AL CRECER NO SOBRESALGA */
 }

 #contenedorServicios .servicio .contenedor_foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: saturate(0);
    transition: 0.5s;/* Para que la transicion fluya al soltar */
 }

 #contenedorServicios .servicio .contenedor_foto img:hover {
    filter: saturate(1);
    transform: scale(1.1);
    transition: 0.5s;/* Para que la transicion fluya poner encima */
    
 }

/* SECCION ÁLBUM */
/* ARTICULO SLIDER */
#slider {
    width: 100%;
    height: 80vh;
    position: relative;
}

#slider :nth-child(1), #slider :nth-child(2){
    width: 150px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* Alineado 50% Y EL TRANSLATE LO SUBE AL 50% DE SU TAMAÑO-certrado translateY(VERTICAL) translateX(Horizontal) translate(-50%,-50%)*/
}

#slider :nth-child(1) {
    left: 2rem;
}

#slider :nth-child(2) {
    right: 2rem;
}

#fotoActiva {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

#contenedorequipo { /* porque es ID usamos # */
    width: 100%;
    display: flex;
    flex-direction: row; /* en linea */
    justify-content: center; /* eje horizontal */
    align-items: flex-start; /* eje vertical */
    column-gap: 2rem;
}

.persona { /* porque es CLASS usamos punto */
    width: 90%; /* para que en movil se ajuste al 90% */
    max-width: 350px; /* el ancho maximo que cogera en ordenador para hacer las 3 columnas*/
    display: flex;
    flex-direction: column; /* en columna */
    align-items: center; /* eje horizontal */
    justify-content: flex-start; /* eje vertical */
    row-gap: 1rem;
}

.persona .imagen {
    width: 100%;
    height: 350px;
    position: relative;
}

.persona .imagen :nth-child(1){
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: 1s;
}
.persona .imagen :nth-child(1):hover {
    transform: rotate(40deg);
    transition: 1s;
}
.persona .imagen :nth-child(2){
    position: absolute;
    top: 50%; /* para centrarlo en el relativo */
    left: 50%;
    transform: translate(-50%,-50%) scale(.7);
    border-radius: 50%;
    filter: sepia(1) opacity(.3);    
    transition: 1s;
 }

 .persona .imagen :nth-child(2):hover {
    filter: sepia(0) opacity(.7);
    transition: 1s;
 }


 /*--------------------------FOOTER------------------------*/
 
 footer{
    background-color: var(--color1);
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#contenedor_footer{
    width: 100%;
    max-width: 2560px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap:2rem;
}

#contenedor_footer ul li{
    color: rgb(129, 129, 129);
    list-style: none;
    text-decoration: none;
}

#contenedor_footer > img{
    width: 100px;
    height: auto;
} /*#contenedor_footer > img =  SOLO AFECTA AL SIGUIENTE ITEM, (ex la primera img del #contenedor_footer*/

#contenedor_footer >:nth-child(1){
    /*background-color: bisque;*/
   
}

#contenedor_footer >:nth-child(2){
    width: 100%;
    /*background-color: cyan;*/

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
    flex-wrap: wrap;
}

#contenedor_footer >:nth-child(3){
   

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap:1rem;
}

#contenedor_footer .info_footer{
    width: 30%;
    min-width: 300px;
    min-height: 80px;
    /*background-color: darkred;*/
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
}

#contenedor_footer #contacto  ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap:1rem;
}

#contenedor_footer #contacto  h4{
    flex-direction: column;
    align-items: flex-start;
}

#contenedor_footer #contacto ul li a{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: white;
    column-gap: 2rem;
}

#contenedor_footer #contacto img{
    display: block;
    width: 2rem;
    height: auto;
    filter: invert(1);
}

#contenedor_footer #contacto a{
   
}

#contenedor_footer #contacto a:hover{
    filter: invert(13%) sepia(30%) saturate(6837%) hue-rotate(348deg) brightness(96%) contrast(112%);
   
}

#legal{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1rem;
}

#legal a{
    color: rgb(129, 129, 129);
    text-decoration: none;
    list-style-type: none;
}

#legal a:hover{
    color: brown;
    transition: 0.5s;
}

#contenedor_footer .info_footer #contenedor_rrss{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
}

#contenedor_footer .info_footer #contenedor_rrss img{
    display: block;
    width: 30px;
    height: auto;
}

#contenedor_footer .info_footer #contenedor_rrss img:hover{
   
    width: 25px;
    height: auto;
    transition: 1s;
}

#contenedor_form{
    width: 100%;
    max-width: 2560px;
    height: 500px;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 2rem;
}

footer form {
    width: 40%;
    min-width: 320px;
    max-width: 800px;
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

footer form input ,textarea {
    width: 100%;

}

#boton_enviar {
    width: 20%;
    min-width: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}