/* cssr (reset) para comenzar a crear el CSS */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}




/* VARIABLES Y FUENTES */

@font-face {
    font-family:"fuente1";
    src: url("../fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf");
    /* ../ para ir atras en la carpeta */
}

@font-face {
    font-family: ;
    src: url();
}

@font-face {
    font-family: ;
    src: url();
}

:root {
    /* #hexadecimal RGB RGBa con transparencia */
    --color0:white;
    --color1:black;
    --color2:grey;
    --color3:yellow;
    --fuente1:"fuente1";

}











/* ESTILOS WEB */

/* Estilos barra de menu */

nav, header, main, footer{
    width: 100%;
    max-width: 2560px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

nav .sup {
    width: 100%;
    height: 5vh;/* vh viewport height vw viewport width */
    max-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative; /* para que los hijos absolute no salten fuera de su padre */
    background-color: var(--color0);
}

nav .sup img { /* img no es una clase, no punto */
    height: 70px;
    position: absolute;
    left:1rem;
    top:0.5rem;
    background-color: var(--color0);
}

nav .inf {
    width: 100%;
    height: 5vh;/* vh viewport height vw viewport width */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 40px;
}

nav .inf ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    list-style: none /* quitar puntos de la lista */;
}

nav .inf a:visited {
    /* :visited - seudoclase para pestañas ya visitadas */
    color:black
    
}

nav .inf a:hover { 
    /* :hover - seudoclase cuando pones el raton encima */ 
    color: rgb(91, 165, 42);
    font-weight: bold;
}



/* Estilos de Header */

header {
    height: 90vh;
    background-image: url(../img/header_2560.jpg);
    background-size: cover; 
    /* el fondo cubre todo*/
    background-repeat: no-repeat;
    background-attachment: fixed; 
    /*La imagen se queda fija al hacer scroll*/

}